.wrap {
    height: 100vh;
    background: gray;
}

.search-result {
    width: 100px;
    height: 150px;
    border: 1px solid #000;
}

.img-box {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}

.img-box img {
    width: 100%;
}

header {
    border: 3px solid green;
    width: 50%;
    height: 40%;
    margin-top: 0;

    position: relative;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0);
}

header .logo {
    font-size: 6rem;
    font-weight: 700;

    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);
}

header .logo a{
    color: inherit;
}

header form input {
    padding: 2%;
    width: 45%;
    height: 10%;
    border-radius: 20px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}