* {
    color: rgb(232, 233, 229);
    text-decoration: none;
    outline: none;
}

a {
    color: #fff;
    text-decoration: none;
    outline: none
}

a:hover,
a:active {
    text-decoration: none;
    color: #fff;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

body {
    background: #202125;
    width: 100%;
    height: 100em;
    margin: 0 auto;
}

.wrap {
    width: 100%;
    position: relative;
}

.search-result {
    width: 100px;
    height: 150px;
    border: 1px solid #000;
}

.img-box {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
}

.img-box img {
    width: 100%;
}

header {
    display: flex;
    background: green;

    width: 100%;
    height: 3em;
    margin: 0 0 10% 0;
    box-sizing: border-box;

    position: fixed;
    z-index: 2;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0);
}

header .logo {
    width: fit-content;
    position: relative;
    left: 1%;
    top: 10%;
}

header .logo a {
    color: #000;
    font-size: 2em;
}

/* header form {
    height: 3em;
} */

header form input {
    flex: 3;
    color: #000;
    width: 30em;
    height: 65%;
    border-radius: 30px;
    border: none;
    padding: 0.5em;
    font-size: 1.4rem;
    margin: 0.2em;
    margin-left: 3%;

    font-family: 'Gowun Batang', serif;

    position: absolute;
    left: 6%;
    top: 40%;
    transform: translate(0, -50%);
}

/* header form input:focus {
    font-size: 1.4rem;
    font-weight: 400;
    width: 50%;
} */

header .search-button {
    display: block;
    width: fit-content;
    font-size: 1rem;
    border: none;
    margin: 0.3em 0;
    background: rgba(255, 255, 255, 0);

    position: absolute;
    left: 40%;
    top: 40%;
    transform: translate(-50%, -50%);
}

header .search-button i {
    color: #000;
}

.naviUl {
    width: 50%;
    display: flex;
    background: rgba(255, 0, 0, 0);
    line-height: 3rem;

    position: relative;
    left: 50em;
}

.naviUl a {
    flex: 1;
    text-align: center;
}

.naviUl a div {
    color: #000;
}

#searchUl {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#searchUl.onclickImgW50p {
    width: 50%;
}

/* searching 공통 */

#searchUl a * {
    font-size: 1.3em;
    color: #8faad5;
    text-decoration: underline;
}

#searchUl .wrapper * {
    margin-top: 1.5%;
}

/* 통합검색 */
#searchUl .searching-web {
    width: 35%;
    height: 12em;
    margin: 1% 50% 0% 6.3%;
}

#searchUl .datetime,
#searchUl .url {
    color: rgba(255, 255, 255, 0.74);
    font-size: 0.8em;
}

#searchUl .searching-web a div {}

#searchUl .searching-web a img {
    width: 100%;
}

/* 동영상검색 */
#searchUl .searching-video {
    width: 35%;
    height: 9em;
    margin: 2% 64% 0% 6%;
    overflow: hidden;
}

#searchUl .searching-video:nth-child(1) {
    margin-top: 3%;
}

#searchUl .searching-video .img-box {
    width: 20%;
    height: 3.2em;
    margin-right: 1.5%;
    overflow: hidden;
    float: left;
}

#searchUl .searching-video .img-box img {
    width: 100%;
}

/* 이미지 검색*/
#searchUl .searching-img {
    width: fit-content;
    margin: 0.3%;
}

#searchUl .searching-img .img-box {
    width: 100%;
}

#searchUl .searching-img .img-box img {
    width: 100%;
}

.wrap>.wrapper {
    width: 100%;
    display: flex;
    margin-top: 3%;
}

.wrap>.wrapper>.aboutImg {
    width: 50%;
    background: #000;
    overflow: hidden;

    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.wrap>.wrapper>.aboutImg .img-box {
    width: fit-content;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);

}

.wrap>.wrapper>.aboutImg .img-box img {
    width: 100%;
}

/* 블로그 검색 */

#searchUl .searching-blog {
    margin: 3% 3%;
}

#searchUl .searching-blog .title {
    font-size: 1.2em;
    font-weight: 700;
}

#searchUl .searching-blog .img-box {
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 1%;
}

#searchUl .searching-blog .contents {
    width: 50%;
}

#searchUl .searching-blog .datetime {
    margin-left: 9%;
}

/* 카페 검색 */

#searchUl .searching-cafe {
    margin: 2% 30% 2% 4%;
    width: 45%;
}

#searchUl .searching-cafe a {}

#searchUl .searching-cafe .title {
    font-size: 1.2em;
    font-weight: 700;
}

#searchUl .searching-cafe img {
    float: left;
    margin-right: 2%;
}

#searchUl .searching-cafe .contents {
    width: 80%;
}

/* footer */

/* bottomlinks */
footer {
    width: 50%;
    height: 1vh;
    margin: 0 auto;
    margin-top: 2%;
    padding-bottom: 2%;
}

footer .bottomLinks {
    width: 100%;
    display: flex;
}

footer .bottomLinks div {
    flex: 1;
}

footer .bottomLinks div.b {
    font-weight: 700;
    font-size: 1.4em;
    line-height: 0.6em;
}